.button {
    border: 1px solid #777777;
    width: 56px;
    height: 56px;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 0;
    opacity: 0.6;
    scale: 0.7;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.175s;
  }
  
  .button:hover {
    opacity: 1;
    background: #0050b6;
  }
  .button:hover .line {
    opacity: 1;
    stroke: #ffffff;
  }
  
  .burger-5 {
    scale: 1.3;
    height: 34px;
  }
  
  .burger-5 svg {
    height: 36px;
    transform: translate(-1px, -1px);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .burger-5 .line {
    fill: none;
    stroke: rgb(59, 59, 59);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.75;
    transition:
      stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .burger-5 .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .is-closed.burger-5 svg {
    transform: rotate(-45deg) translate(0);
  }
  
  .is-closed.burger-5 svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  